{% extends 'base_email.html' %}
{% block preheader %}Confirmation of attendance for {{ h_name }}{% endblock %}

{% block content %}
    <p>Thank you {{ name }} for confirming your attendance to {{ h_name }}!</p>
    <p>We are really excited to host this event and have you with us.</p>
    <p>We made our Slack is open prior to {{ h_name }}! This is a great opportunity to interact with other hackers, ask us questions, and start building your team!<a href="https://join.slack.com/t/sunhacks2019/shared_invite/enQtNzU0MjMxOTU4NDA2LTFlZDgyODgxOTA2NDZiMTAyZGU1OGE4OWM0MzA2NzA0NDJmZWZmNDk2ODNlZDIyZmY3NGNhNWNiYzVhOTBhM2I" target="_blank" class="btn btn-block btn-success">Click here to join!</a>
    </p>
    <p>Be sure to invite your friend to come too! If they use your email as referral in the application you can get exlusive {{ h_name }} swag!</p>

    <p>In order to make registration go smoother, please show us this QR code during the process so we can easily find
        you:</p>
    {% include 'mails/include/email_image.html' with url=qr_url %}
    {% include 'mails/include/cancel.html' %}
    {% include 'mails/include/arrival_departure_info.html' %}
    {% include 'mails/include/closing.html' %}
{% endblock %}
